@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #content {
        display: inline-block;
    }
    
    #sources {
        height: 100px;
		margin: 5px;
		
		.source {
			position: relative;
			height: 100px;
			width: 100px;
			float: left;
			margin: 10px;
			padding-top: 0;

			a.link {
				height: 100px;
				width: 100px;
				float: left;
			}
		}
    }
}
