body {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

/* source */

#sources {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 1.2rem;
}

#sources .source {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

#sources .source a {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-size: contain;

    margin: 5%;
    border-radius: 25%;
    border: 1px solid #e4e4e4;

    opacity: 0.7;
}

#sources .source a:hover {
    opacity: 1;
}

/* headline */

#headlines {

}
  
#headlines .headline {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    'title title'
    'image article';
    margin-bottom: 1.2rem;
}

#headlines .title {
    font-size: 1.4rem;
    grid-area: title;
    margin-bottom: 1rem;
}

#headlines .image {
    grid-area: image;
    margin-right: 1rem;
}

#headlines .image img {
    width: 100%;
}

#headlines .article {
    grid-area: article;
}

#headlines .article .publishedAt {
    display: block;
}

#headlines .article .description {
    display: block;
}

#footer {
    
}
