body {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/* Source */

#content .source {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

#content .source a {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-repeat: no-repeat;
    background-size: contain;

    margin: 5%;
    border-radius: 25%;
    border: 1px solid #e4e4e4;

    opacity: 0.7;
}

#content .source a:hover {
    opacity: 1;
}

#footer {
    
}
